<div class="article-page">
  <h1>{{ article.title }}</h1>
  <div class="article-content-3d">
    {{ article.content }}
  </div>
  <a href="{{ blog.url }}" class="btn-3d">Retour au blog</a>
</div>
{% section 'footer' %}